.names {
    color: white;
    padding: 20px 0 0 20px;
}
.names a {
    text-decoration: none;
    color: #fff;
}
.names a.activeLink {
    color: darkgreen;
}
.avatarImg {
    width: 70px;
    border-radius: 40px;
}
.boxNames {
    display: flex;
    padding-bottom: 40px;
}
