*@font-face {
    font-family: "OpenSans";
    src: url('../font/OpenSans.ttf , PT Sans.ttf , arial , Ubuntu.ttf');
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif, 'Ubuntu', 'PT Sans' ;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 1536px;
 }

/** {
 	border: 1px solid red;
 }*/

a {
  text-decoration: none;
}

h1 {
	margin: 0;
}

.spruce {
	background: url(../images/bg-spruce.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 720px;
}

.name {
	background: url(../images/name.png);
	background-repeat: no-repeat;
	width: 100%;
	max-width: 150px;
	height: 61px;
	margin: 0 auto;
}

ul {
	list-style-type: none;
	display: flex;
	color: #fff;
	font-size: 16px;
	justify-content: center;
	padding-top: 50px;
}

li {
	padding-right: 65px;
	cursor: pointer;
}

li:last-child {
	padding-right: 0;
}

li:hover {
    color: green;
}

h1 {
	font-size: 70px;
	font-family: 'Ubuntu';
	color: #fff;
	padding-top: 80px;
}

.theme {
	font-size: 30px;
	font-family: 'PTS Sans bold';
	color: #fff;
	padding: 55px 0 100px 0;
}

button {
	border: 1px solid #50c3af;
	border-radius: 50px;
	background-color: #50c3af;
	font-size: 20px;
    font-weight: bold;
	color: #fff;
	padding: 25px 50px 25px 55px;
	cursor: pointer;
}

button:hover {
	background-color: #23d440;
}

.menu {
	max-width: 700px;
	margin: 0 auto;
	text-align: center;
	padding-top: 60px;
}

.page-bg {
	height: 400px;
	background-color: #eeeeef;
}

.box-item {
	display: flex;
	max-width: 800px;
	margin: 0 auto;
	padding-top: 70px;
}

.icon-1 {
	background: url(../images/icon_1.png);
	background-repeat: no-repeat;
	width: 43px;
	height: 30px;
	margin: 0 auto;
}

.icon-2 {
	background: url(../images/icon_heart.png);
	background-repeat: no-repeat;
	width: 38px;
	height: 34px;
	margin: 0 auto;
}

.icon-3 {
	background: url(../images/icon_3.png);
	background-repeat: no-repeat;
	width: 39px;
	height: 35px;
	margin: 0 auto;
}

.item {
	padding-right: 20px;
}

.item:last-child {
	padding-right: 0;
}

.head {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	font-family: 'PTS Sans';
	padding-top: 35px;
}

.text-item {
	font-size: 18px;
	line-height: 25px;
	font-family: 'PTS Sans';
	color: #a7a9ac; 
	text-align: center;
	padding-top: 35px;
}

.hr {
	border-bottom: 2px solid #e2e3e4;
	width: 200px;
	margin: 0 auto;
	padding-top: 20px;
}

.page-template-one {
	height: 650px;
}

.box-template {
	display: flex;
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
	padding-top: 75px;
}

.template {
	width: 100%;	
}

 .item-template {
    padding-right: 45px;
 }

.bg {
	width: 100%;
	max-width: 300px;
	height: 190px;
	background-repeat: no-repeat;
}

.bg-1 {
    background: url(../images/bg_1.png);
}

.bg-2 {
	background: url(../images/bg_2.png);
}

.heading {
	font-size: 16px;
	font-weight: bold;
	font-family: 'PTS Sans';
	text-transform: uppercase;
	padding-top: 40px;
}

.line {
	border-bottom: 1px solid  #e2e3e4;
	width: 95%;
	padding-top: 28px;
}

.text-template {
	font-size: 14px;
	line-height: 25px;
	color: #a7a9ac;
	padding: 38px 0 45px 0;
}

.btn-one {
	font-size: 16px;
	color: #fff;
	border: 1px solid #50c3af;
	background-color: #50c3af;
	border-radius: 50px;
	padding: 15px 18px;
	cursor: pointer;
}

.page-template {
	height: 420px;
	background-color: #eeeeef;
}

.box-lorem {
	max-width: 650px;
	margin: 0 auto;
	padding-top: 75px;
}

.heading-one {
	font-size: 17px;
	font-weight: bold;
	font-family: 'PTS Sans';
	text-transform: uppercase;
}

.hr-line {
	border-bottom: 1px solid #e2e3e4;
	padding-top: 28px; 
	width: 90%;
}

.text-lorem {
	font-size: 15px;
	line-height: 26px;
	color: #a7a9ac;
	padding: 35px 0 45px 0;
}

.btn {
	background-color: #d2d5da;
	border: 1px solid  #d2d5da;
	border-radius: 40px;
	padding: 15px 19px;
	color: #fff;
	font-size: 15px;
	cursor: pointer;
}

.page-item {
	height: 500px;
}

.bg-3 {
	background: url(../images/bg_3.png);
}

.bg-4 {
	background: url(../images/bg_4.png);
}

.bg-5 {
	background: url(../images/bg_5.png);
}

.picture {
	width: 200px;
	height: 152px;
}

.box-psd {
	display: flex;
	max-width: 700px;
	margin: 0 auto;
	padding-top: 65px;
}

.line-one {
	width: 95%;
	border-bottom: 1px solid #d2d5da;
	padding-top: 22px;
}

.text-psd {
	font-size: 15px;
	line-height: 25px;
	padding-top: 30px;
	color: #999c9f;
}

.check {
	font-size: 16px;
	color: #7cd0c2;
	padding-top: 35px;
}

.Lorem-ipsum {
	padding-right: 45px;
	width: 100%;
	max-width: 200px;
} 

.Lorem-ipsum:last-child {
	padding-right: 0;
} 

.page-teleg {
	height: 420px;
	background-color: #eeeeef;
}

.telegram {
	background: url(../images/teleg.png);
	width: 24px;
	height: 23px;
}

.pencil {
	background: url(../images/pencil.png);
	width: 21px;
	height: 23px;
}

.block {
	padding-right: 60px;
}

.block:last-child {
	padding-right: 0;
}

.teleg {
	display: flex;
}

.headers {
	font-size: 18px;
	font-weight: bold;
	font-family: 'PTS Sans';
	padding-left: 20px;
}

.lines {
	width: 95%;
	border-bottom: 1px solid #d2d5da;
	padding-top: 22px;
}

.text-ipsum {
	color: #787b80;
	font-size: 14px;
	line-height: 25px;
	padding: 30px 0 40px 0;
}

.box-teleg {
	width: 100%;
	max-width: 680px;
	margin: 0 auto;
	display: flex;
	padding-top: 70px;
}

.page {
	height: 370px;
}

.bg-6 {
	background: url(../images/bg_6.png);
	width: 300px;
	height: 236px;
}

.heading-just {
	font-size: 18px;
	font-weight: bold;
}

.hr-lines {
	width: 95%;
	border-bottom: 1px solid #d2d5da;
	padding-top: 25px;
}

.text-dolor {
	font-size: 15px;
	line-height: 25px;
	padding: 35px 0 33px 0;
}

.box-block {
	display: flex;
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
	padding-top: 60px;
}

.block-just {
	padding-right: 40px;
}

.block-just-one {
	width: 50%;
}

.page-color {
	height: 270px;
	background-color: #50c3af;
}

.star {
	background: url(../images/star.png);
	width: 17px;
	height: 16px;
}

.this-template {
     font-size: 15px;
     font-weight: bold;
     color: #fff;
     text-transform: uppercase;
     padding-left: 15px;
}

.lines-one {
	width: 50%;
	border-bottom: 2px solid #61c8b6;
	padding-top: 27px;
	margin: 0 auto;
}

.techCrunch {
	background: url(../images/TechCrunch.png);
	width: 119px;
	height: 22px;
}

.promail {
   background: url(../images/Promail.png);
   width: 93px;
   height: 22px;
}

.mashable {
    background: url(../images/mashable.png);
    width: 103px;
    height: 21px;
}

.atlaspix {
	background: url(../images/atlaspix.png);
	width: 100px;
	height: 25px;
}

.star-this {
	display: flex;
	width: 50%;
	margin: 0 auto;
}

.web-site {
	display: flex;
	justify-content: space-between;
	padding-top: 50px;
}

.box-star {
	padding-top: 65px;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}

.page-footer {
	height: 60px;
}

.box-footer {
	display: flex;
	width: 100%;
	max-width: 600px;
	justify-content: space-between;
	margin: 0 auto;
	padding-top: 23px;
}

.copy {
	font-size: 15px;
	color: #bebfc2;
}

.google {
	background: url(../images/google.png);
	background-repeat: no-repeat;
	width: 16px;
	height: 17px;
	padding-right: 22px;
}

.fs {
	background: url(../images/fs.png);
	background-repeat: no-repeat;
	width: 8px;
	height: 16px;
	padding-right: 22px;
}

.twitter {
	background: url(../images/tw.png);
	background-repeat: no-repeat;
	width: 15px;
	height: 16px;
}

.social {
	display: flex;
}


/*MEDIA*/

@media  (max-width: 768px) {
    h1 {
    	font-size: 50px;
    }

	.page-bg {
		width: 100%;
		height: 800px;
	}

	.box-item {
		flex-direction: column;
		justify-content: center;
	}

	.item {
		width: 80%;
		margin: 0 auto;
		padding-top: 25px;
	}

	.text-item {
		width: 35%;
        margin: 0 auto;
	}

	.page-item {
		width: 100%;
		height: 900px;
	}
     
    .heading {
    	text-align: center;
    }

    .text-template {
    	text-align: center;
    }

    .btn-one {
    	position: relative;
    	left: 30%;
    }

    .heading-one {
    	text-align: center;
    }

    .heading-just {
    	text-align: center;
    }

    .text-dolor {
    	text-align: center;
    }

    .text-lorem {
    	text-align: center;
    }

    .btn {
    	position: relative;
        left: 30%;
    }

	.box-psd {
		flex-wrap: wrap;
		justify-content: center;
		width: 74%;
	}

	.text-psd, .check {
		text-align: center;
	}

	.ipsum {
		padding-right: 0;
	}

	.Lorem-ipsum:last-child {
		padding-top: 40px
	}

	.text-ipsum {
		text-align: center;
	}

	.teleg {
		justify-content: center;
	}

	.block {
        padding: 0 20px;
    }
}

@media  (max-width: 480px) {
	li {
      padding-right: 25px;
    }

	h1 {
		font-size: 40px;
	}

	.theme {
		font-size: 20px;
	}

	button {
		font-size: 15px;
	}

	.page-bg {
		height: 900px;
	}

	.text-item {
		width: 60%;
	}

	.item-template {
		padding-right: 0;
	}

	.item {
		padding-top: 30px;
	}

	.page-template-one {
        width: 100%;
        height: 1200px;
	}

	.box-template {
		flex-wrap: wrap;
		width: 60%;
		margin: 0 auto;
	}

	.template {
		padding-top: 35px;
	}

	.box-lorem {
		width: 80%;
	}

	.page-item {
		width: 100%;
		height: 1300px;
	}

	.box-psd {
		width: 42%;
		margin: 0 auto;
	}

	.Lorem-ipsum {
		padding-right: 0;
	}

	.ipsum {
		padding-top: 30px;
	}

	.page-teleg {
		height: 650px;
	}

	.box-teleg {
		flex-wrap: wrap;
		width: 70%;
	}

	.block {
		padding-top: 30px;
	}

	.page {
		height: 630px;
	}

	.box-block {
		flex-wrap: wrap;
		width: 63%;
	}

	.block-just {
        padding-right: 0;
}

	.block-just-one {
	    width: 100%;
	    padding-top: 30px;
    }

    .this-template {
    	text-align: center;
    }

    .web-site {
    	justify-content: space-around;
    }

    .box-footer {
    	justify-content: space-around;
    }
}

@media (max-width: 320px) {
    ul {
    	flex-direction: column;
    }
    
    li {
    	padding-right: 0;
    	padding-top: 20px;
    }

	h1 {
       font-size: 30px;
    }

    .theme {
        font-size: 18px;
    }

    button {
    	border-radius: 30px;
    }

	.text-item {
        width: 70%;
    }

    .box-template {
    	width: 80%;
    	margin: 0 auto;
    }

    .page-template {
    	height: 500px;
    }

    .box-psd {
    	width: 80%;
    }

    .page-teleg {
       height: 700px;
    }

    .box-teleg {
    	width: 80%;
    }

    .btn-one {
    	left: 20%;
    }

    .block-just {
    	width: 93%;
        margin: 0 auto;
    }

    .heading-just {
    	font-size: 16px;
    }

    .hr-lines {
	    width: 80%;
	    margin: 0 auto;
	}

    .text-dolor {
    	font-size: 14px;
    	width: 85%;
        margin: 0 auto;
    }

    .box-block {
    	width: 100%;
    	margin: 0 auto;
    }

    .this-template {
    	font-size: 13px;
    }

    .web-site {
    	flex-wrap: wrap;
    	width: 80%;
        margin: 0 auto;
    }

    .mashable, .atlaspix{
    	background-repeat: no-repeat;
        margin-top: 12px;
    }

    .copy {
       font-size: 13px;
    }






}







